{% extends 'app9/app9-base.html' %}

{% block body %}

    <div style="text-align: center">
        <h1>This is Login</h1>
        <form action="" method="post">
            <table>
                <tbody>
                <tr>
                    <td>name</td>
                    <td>
                        <input type="text" name="name">
                    </td>
                </tr>
                <tr>
                    <td>pwd</td>
                    <td>
                        <input type="password" name="pwd">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="submit">
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}